[Unit]
Description=Combi Oven front-end services
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/crank/storyboard_launcher.sh
Restart=on-failure
RestartSec=0

[Install]
WantedBy=multi-user.target
