[Unit]
Description=Storyboard backend init
After=basic.service X.service thermal-zone-init.service
[Service]
ExecStart=/usr/crank/apps/backend/combioven_backend
[Install]
WantedBy=multi-user.target
